@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

@{
    string langName = "C#";
}

<div class="text-center">

    <img width="300" src="~/images/csharp-logo-265a149e.svg" />
    <h2 class="display-4">@langName</h2>
    <p>@Model.LangDesc</p>

    <button class="btn btn-primary">Click me!</button>
</div>
