@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <img src="https://picsum.photos/536/354" />
    <h1 class="display-4">Random Image</h1>
    <span>@Model.LangDesc</span>

    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris id mauris arcu. Nulla quis tempor ante. Duis eget pretium elit, sit amet viverra magna. Donec non volutpat magna. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Proin ultricies eros mauris, sit amet tempus lectus interdum ac. Phasellus sollicitudin placerat erat, at malesuada nisi maximus sit amet. Nam vehicula at justo non egestas. Sed semper luctus lacus, vitae iaculis mauris fringilla quis. Sed eget risus leo. Praesent tincidunt risus at leo rutrum, eu condimentum ligula porttitor. Fusce quis elit tempus, dapibus sem nec, tristique lacus. Praesent ullamcorper lorem sed lectus blandit viverra. Donec congue justo vel est congue, at ornare nisi venenatis. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae;
    </p>

    <p>
        Ut non accumsan lectus, at condimentum diam. Duis posuere scelerisque convallis. Nullam consequat eros sit amet risus mollis, in semper dolor consequat. In fermentum sem nibh. Nam vitae suscipit quam. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas et nisi euismod, blandit tortor sed, suscipit lectus. Mauris venenatis risus nunc, vel tempus arcu mollis eu. Fusce posuere turpis et imperdiet imperdiet.
        </p>

    <p>
        Phasellus eget nisl et tortor tempus pretium. Sed blandit mauris ligula. Pellentesque porta sit amet leo id blandit. Pellentesque eu lectus ultrices, maximus enim ac, tempus elit. Etiam consectetur odio eget magna vehicula, id accumsan quam laoreet. Duis in nulla eu massa ullamcorper convallis non eget nisl. Quisque vestibulum sem et quam porta, quis elementum risus blandit. Nullam erat ex, elementum sed risus a, tristique efficitur libero. Integer lacinia vitae ligula vel dapibus. Praesent rutrum dictum est in facilisis.
</p>
    
</div>